<h1>Welcome to my Pinterest</h1>
<p>
You have found the homepage for the 
<a href="http://onemonth.com"> One month</a>
</p>

<p>
	<a href="#">Sign up now </a>
</p>
<p>Helle there! This is Praful Konduru and I'm a developer</p>

<div class="footer">

<small>
<a href="http://onemonth.com"> One month</a> by Praful Konduru
</small>
</div>
