

<h1>Welcome to my Pinterest</h1>
<p>
You have found the homepage for the 
<%= link_to "One month Rails" , "http://onemonth.com" %>
</p>

<p>
	<%= link_to "Sign up now" , "#" %>
</p>
<p>Helle there! This is Praful Konduru and I'm a developer</p>




